/* header flexbox styling */
/* body {
    background-color: #727272;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */
/* .flexbox-header {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: black;
    align-items: center;
} */
/* box sizing best practice */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    background-image: radial-gradient(circle, #dee2e6, white);
    border-radius: 10%;
}

#resume-download:hover {
    color: #6ea8fe;
    text-decoration: underline;
}

#title-name, #foot-contact {
    font-size: 24px;
}

.hero-image {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

#photo {
    border-radius: 10%;
    display: flex;
    justify-content: center;
}

#h1 {
    font-size: 30px;
}

#h2 {
    font-size: 24px;
}

.caption-bg {
    color: black;
    background-color: rgb(250, 210, 216);
    box-shadow: 10px 5px 5px black;
}

#contact-links:hover {
    color: #6ea8fe;
    text-decoration: underline;
}

/* Navigation Styling */
/* #nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.nav-list {
    float: left;
}

.nav-list a {
    color: black;
    text-align: center;
    padding: 14px 16px;
} */

/* Change the link color to white on hover */
/* .nav-list a:hover {
    background-color: gray;
    color: white;
} */

/* Application tiles container flexbox styling */
/* .flexbox-container {
    display: flex;
    flex-wrap: wrap;
} */

/* .flexbox-tile {
    justify-content: center;
    padding: 50px;
    margin: 20px;
    border: 2px solid black;
    width: auto;
    height: auto;

} */

/* .flexbox-tile:hover {
    border-color: rgb(29, 105, 105);
    color: rgb(20, 175, 175);
} */

/* .flexbox-tile-1 {
    width: 600px;
    height: auto;
} */

#tile-img {
    width: 400px;
    height: auto;
}

/* h2 {
    text-align: center;
    color: white;
    border: 2px solid gray;
    background-color: gray;
    padding: 10px;
} */

/* footer styling */
h4 {
    text-align: center;
}

ul {
    list-style-type: "🫟 "; /* Adds a sparkle emoji and a space */
}

/* @media only screen and (max-width: 992px) {
    .flexbox-container{
      width: 50%;
    }
} */

/* @media only screen and (max-width: 768px) {
    .flexbox-container{
      width: 100%;
    }
} */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }