/* header flexbox styling */
body {
    background-color: #727272;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.flexbox-header {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    align-items: center;
}

.hero-image {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

#photo {
    border-radius: 10%;
}

/* Navigation Styling */
#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.nav-list {
    float: left;
}

.nav-list a {
color: white;
text-align: center;
padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
.nav-list a:hover {
background-color: #111;
}

/* Application tiles container flexbox styling */

/* .flexbox-container {
    display: flex;
    flex-wrap: wrap;
} */

.flexbox-tile {
    justify-content: center;
    padding: 50px;
    margin: 20px;
    border: 2px solid black;
    width: auto;
    height: auto;

}

.flexbox-tile:hover {
    border-color: rgb(29, 105, 105);
    color: rgb(20, 175, 175);
}

.flexbox-tile-1 {
    width: 600px;
    height: auto;
}

#tile-img {
    position: relative;
    width: 600px;
    height: auto;
}

h2 {
    color: white;
    border: 2px solid gray;
    background-color: gray;
    padding: 10px;
}

/* footer styling */
h3 {
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .flexbox-container{
      width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .flexbox-container{
      width: 100%;
    }
}